/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
docker-compose.override.yml

# MacOS
.DS_Store
.DS_Store?

/.idea
/.vscode

# Dusk quirk
:memory:

# don't really need to have package-lock.json in VCS unless generating front-end assets on every build
package-lock.json

# in your deployed app you SHOULD commit composer.lock to VCS according to dependencies consistent with your server; so comment-out the following line for your own repo
composer.lock
