*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper*.php
Homestead.json
Homestead.yaml
Thumbs.db
npm-debug.log
docker-compose.override.yml

# MacOS
.DS_Store
.DS_Store?

# Dusk quirk
:memory:

# don't really need to have package-lock.json in VCS unless generating front-end assets on every build
package-lock.json

# in your deployed app you SHOULD commit composer.lock to VCS according to dependencies consistent with your server; so comment-out the following line for your own repo
composer.lock
