/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# MacOS
.DS_Store
.DS_Store?

.idea/*

# Dusk quirk
:memory:

# don't really need to have package-lock.json in VCS unless generating front-end assets on every build
package-lock.json

